<header>
  <div class="header__wrapper">
    <div class="search__wrapper">
      <a routerLink="/"><img src="../../../assets/logo.png" alt="logo"></a>
      <form>
        <input class="input-search" placeholder="What do you want to find out?" #searchInput
          (keydown.enter)="addNewItem($event)">
        <button class="search-button" (click)="addNewItem($event, searchInput.value)">search</button>
      </form>
      <div class="settings-button" (click)="onSettingsButtonClick()">
        <img src="../../../assets/Vector.svg" alt="settings">
      </div>
    </div>
    <a routerLink="/login" (click)="logOut()">
      <div class="user__wrapper">
        <p>{{loginService.getIsLogin() ? 'LogOut' : 'LogIn'}}</p>
        <div class="user-button">
          <img src="../../../assets/Subtract.svg" alt="user">
        </div>
      </div>
    </a>
  </div>
</header>
<app-sort-settings *ngIf="isOn" (filterEmitter)="addNewFilter($event)"></app-sort-settings>
<router-outlet></router-outlet>