<header class="header__wrapper">
  <div class="search__wrapper">
    <img src="../../../assets/logo.png" alt="logo">
    <form action="#">
      <input class="input-search" type="search" placeholder="What do you want to find out?">
      <button class="search-button">search</button>
    </form>
    <div class="settings-button">
      <img src="../../../assets/Vector.svg" alt="settings">
    </div>
  </div>
  <div class="user__wrapper">
    <p>Your name</p>
    <div class="user-button">
      <img src="../../../assets/Subtract.svg" alt="user">
    </div>
  </div>
</header>