<header class="header__wrapper">
  <div class="search__wrapper">
    <img src="../../../assets/logo.png" alt="logo">
    <form>
      <input class="input-search" placeholder="What do you want to find out?" #searchInput
        (keydown.enter)="addNewItem($event)">
      <button class="search-button" (click)="addNewItem($event, searchInput.value)">search</button>
    </form>
    <div class="settings-button" (click)="showHide()">
      <img src="../../../assets/Vector.svg" alt="settings">
    </div>
  </div>
  <div class="user__wrapper">
    <p>Your name</p>
    <div class="user-button">
      <img src="../../../assets/Subtract.svg" alt="user">
    </div>
  </div>
</header>
<app-sort-settings (filterEmitter)="addNewFilter($event)" *ngIf="isOn"></app-sort-settings>