<header>
  <div class="header-wrapper">
    <div class="search-wrapper">

      <a routerLink="/">
        <img
          src="../../../assets/logo.png"
          alt="logo">
      </a>

      <form>
        <input
          class="input-search"
          placeholder="What do you want to find out?"
          #searchInput>
        <button class="search-button">search</button>
      </form>

      <div
        class="settings-button"
        (click)="settingsButtonHandler()">
        <img
          src="../../../assets/Vector.svg"
          alt="settings">
      </div>

      <a
        routerLink="/login"
        (click)="logOut()">
        <div class="user-wrapper">
          <p>{{getIsLogin() ? 'LogOut' : 'LogIn'}}</p>
          <div class="user-button">
            <img
              src="../../../assets/Subtract.svg"
              alt="user">
          </div>
        </div>
      </a>
    </div>
    <app-sort-settings *ngIf="showSettings"></app-sort-settings>
  </div>
</header>
