<section>
  <mat-card class="search-item">
    <img class="search-item__img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu">
    <div class="item-info">
      <div class="item-info__item">
        <img src="../../../assets/icons/viewed.png" alt="viewed">
        100
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/liked.png" alt="like">
        100
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/dislike.png" alt="dislike">
        100
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/Group 9.png" alt="copy">
        100
      </div>
    </div>
    <p class="search-item__title">#Title</p>
    <button class="search-item__button" mat-button>more...</button>
  </mat-card>
  <div class="footer-color"></div>
</section>