<div class="video-card-container">

  <button class="video-card-button">&#60;</button>

  <img class="video-card-item__img" src={{img}} alt="card-img">

  <div class="details-container">

    <div class="title-container">
      <h2>{{title}}</h2>
      <div class="title-date">{{enFormatDate}}</div>
    </div>

    <div class="description-container">
      <h4>Description:</h4>
      <p>{{description}}</p>
    </div>

    <div class="item-info">
      <div class="item-info__item">
        <img src="../../../assets/icons/viewed.png" alt="viewed">
        {{viewed | shortNumber}}
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/liked.png" alt="like">
        {{like | shortNumber}}
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/dislike.png" alt="dislike">
        {{dislike | shortNumber}}
      </div>
      <div class="item-info__item">
        <img src="../../../assets/icons/Group 9.png" alt="copy">
        {{copy | shortNumber}}
      </div>
    </div>

    <div class="footer-color  {{published | cardColor}}"></div>

  </div>

</div>